<ion-view title="Profile">
    <ion-content overflow-scroll="true" padding="'true'" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Degree</span>
                <input type="text" placeholder="Computer Science">
            </label>
            <label class="item item-input">
                <span class="input-label">CAP</span>
                <input type="text" placeholder="4.0">
            </label>
            <label class="item item-input">
                <span class="input-label">Goal</span>
                <input type="text" placeholder="first class / to pass">
            </label>
            <label class="item item-input">
                <span class="input-label">Interest</span>
                <input type="text" placeholder="design, psychology">
            </label>
        </form>
    </ion-content>
</ion-view>