<ion-view title="Requirements">
  <ion-content overflow-scroll="true" padding="'true'" class="has-header">
    <h4>Degree Name</h4>
    <ion-checkbox ng-model="isChecked">Item 1</ion-checkbox>
      <ion-checkbox ng-model="is2Checked">Item 2</ion-checkbox>
      <ion-checkbox ng-model="is3Checked">Item 3</ion-checkbox>
    <div ng-repeat="n in Parse.Object.Modules">
      <ion-checkbox ng-model="isChecked">{{n}}</ion-checkbox>
    </div>

    <!-- <div ng-controller="requirementsCtrl">
      <input ng-model="customSpice">
      <button ng-click="spicy('chili')">Chili</button>
      <button ng-click="spicy(customSpice)">Custom spice</button>
      <p>The food is {{spice}} spicy!</p>
    </div> -->
  </ion-content>
</ion-view>
